// styles.scss

$primary-color: #faf2c7; 
$secondary-color: #c7edf9;
$success-color: #e8dbf8; 
$success-color: #f8dbdb;
$black-color:#181818;


.btn-style {
    border: 1px solid  #fbfbfb;
  }
  // .css-187mznn-MuiSlider-root {
  //   color: #acecff !important;
  // }
  .sc-bdfBwQ{
    -webkit-filter:brightness(50);
  }

  .gm-ui-hover-effect{
    display: none !important;
  }

  .gmnoprint{
    display: none !important;
  }
.gm-control-active,.gm-fullscreen-control{
  display: none !important;
}

.MuiSlider-root{
color:  #c7edf9 !important;
}

.css-exkjcx{
  color:  #c7edf9 !important;
}

.bg-main{
  background-color: #faf2c7;
}
